$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #AFAFAF;
$white: #FFFFFF;
$brainflix-darkblack:#000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
@mixin tablet {
    @media (min-width:768px){@content;}
}
@mixin desktop {
    @media (min-width:1280px){@content;}
}