@import 'colors';
.nav {
    
    &--container{
    width:100%;
    height:150px;
    margin-top:20px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    background: $white;
    @include tablet{
        flex-direction: row;
        height:fit-content;
    }
  }
    &--header{
        width:100%;
        height:fit-content;
        display:flex;
        justify-content: center;
        align-self:center;
    @include tablet{
        width:40%;
        justify-content: flex-start;
        margin-left:3rem;
    }
  }
    &--select{
        margin:0;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        width:100%;
        justify-content: space-around;
        align-items: center;
        height:fit-content;
        @include tablet{
            width:75%;
            flex-wrap:nowrap;
        }
        @include desktop{
            width:45%;
            justify-content: flex-end;
            gap:5%
        }
    }
    .nav--search::placeholder{
        color:$brainflix-black;
    }
    &--search{
        width:70%;
        height:2rem;
        padding-left:.25rem;
        margin:0;
        border: solid .5px $silver;
        background-color: $alabaster;
        border-radius: .25rem;
        display:flex;
        justify-content: flex-start;
        input{
            outline-width:0;
            @include tablet{
                font-size:1rem;
                
            }
        }
        @include tablet{
            width:40%;
            height:2.5rem;
            order:initial;
        }
        @include desktop{
            width:40%;
        }
        &__bar{
            border:none;
            width:75%;
            height:100%;
            padding-left:1rem;
            background:none;
            border-radius: .25rem;

        }
        &__icon{
            align-self: center;
            
            img{
                margin:0;
            }
        }
    }
    &--avatar{
        border-radius:50%;
        height:37.5px;
        margin:5px;
        width:37.5px;
        object-fit: cover;   
        @include tablet{
            order:3;
            height:40px;
            width:40px;
        }
        @include desktop{
            height:50px;
            width:50px;
        }
    }
    &--button{
        background-color: $brainflix-blue;
        border:0;
        border-radius: .25rem;
        width:22.5rem;
        height:2.6rem;
        display:flex;
        align-items: center;
        @include tablet{ 
            order:2;
            width:10rem;
        }
        img{
            justify-self: flex-start;
        }
        &__text{
            text-decoration: none;
            width:85%;
            color:white;
            font-size:15.5px;
        }
    }
}